body {
  background-color: #eeeeee;
}

#join-button {
  display: block;
  margin: 200px auto 0 auto;
}

#main-block {
  display: none;
  width: 700px;
  height: 500px;
  margin: 125px auto 0 auto;
}

#chat-box {
  height: 100%;
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: white;
  overflow-y: auto;
}

#message-box {
  display: none;
}

#spectating-message {
  display: none;
}

.text-box {
  width: 60%;
  padding: 12px;
  border-radius: 10px;
  background-color: #dddddd;
}

.text-box-left {
  margin: 0 0 10px 0;
}

.text-box-right {
  margin: 0 0 10px auto;
}

.text-box-me {
  color: white;
  background-color: #007bff;
}

@media (max-width: 760px) {
  #main-block {
    width: 92vw;
  }
}
